*{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column ;
}


body {
  padding: 0;
  text-align: center;
  background-image: url(images/Pokemon-Emerald-GIF-Find-and-Share-on-GIPHY.gif);
  
}
#myCanvas{
  
  /* background-image: url(images/18oiwrk32uilpgif.gif); */
  /* border: 1px solid red; */
}
button{
  align-self: center;
  width: 400px;
  height:50px;
  text-align: -webkit-center;
    justify-content: center;
}
.game-intro {
  float: left;
  padding: 0% 10%;
}
#back{
  background-position: bottom;
}
.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}
